.field {
    width: 60%;
    margin: auto;
  }

#text {
    width: 60%;
    
    margin: auto;
  }

#img {
    width: 30%;
    
    margin: auto;
}

@media screen and (max-width: 1024px) {
    
    #img {
        width: 60%;
        
        margin: auto;
    }
}